body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #282c34;
color: white;
text-align: center;
}

div{
padding: 10px;
}

li {
list-style-type: none;
padding: 0px;
margin: 0px;
}
ul {
padding: 0px;
}

.total {
font-size: xxx-large;
text-align: left;
margin: auto;
width: 100%;
padding: 10px;
}
.head {
text-align: left;
margin: auto;
/*position: sticky;*/
float: none;
}

.noteTitle {
font-weight: bold;
}
.noteContent {

}

.divNote{
float: left;
display: block;
width: 80%;
margin-top: 20px;
height:auto;
padding: 8px;
text-align: left;
background-color: #2AACB8;
border-radius: 5px;
}

.divButton{
float: left;
margin-top: 20px;
display: block;
padding: 0px 0px 0px 10px;
}

.divMenuButton{
display: inline-block;

padding: 0px 0px 0px 10px;
}

.redButton{
background-color: #C94F4F;
border-style: none;
border-width: 2px;
border-color: #FFFFFF;
color: #FFFFFF;
font-weight: bold;
height:25pt;
border-radius: 5px;
cursor: pointer;
}

.yellowButton{
background-color: #C29E4A;
border-style: none;
border-width: 2px;
border-color: #FFFFFF;
color: #FFFFFF;
font-weight: bold;
height:25pt;
border-radius: 5px;
cursor: pointer;
}

.greenButton{
background-color: #599E5E;
border-style: none;
border-width: 2px;
border-color: #FFFFFF;
color: #FFFFFF;
font-weight: bold;
height:25pt;
border-radius: 5px;
cursor: pointer;
}