<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link th:href="@{/styles/note/noteEdit.css}" rel="stylesheet"/>
</head>
<body>
<div class="divButton">
    <form action="#" th:action="@{/note/edit}" th:object="${dtoNote}" method="post">
        <div><h1 class="total">Edit Your Note:</h1></div>
        <div class="flex">
            <input type="hidden" th:value="${dtoNote.id}" id="id" name="id"/>
        </div>
        <div class="flex">
            <p><label for="title">TITLE :</label></p>
            <textarea rows="2" cols="200" th:text="${dtoNote.title}" id="title" name="title" maxlength="500"></textarea>
        </div>
        <div class="flex">
            <p><label for="content">CONTENT :</label></p>
            <textarea rows="10" cols="200" th:text="${dtoNote.content}" id="content" name="content"
                      maxlength="4000"></textarea>
        </div>
        <div>
            <input class="greenButton" type="submit" value="SAVE"/>
        </div>

    </form>
</div>
</body>
</html>